<div class="content">
	<div class="banner">
		<div class="container">
			<h1>《<%- page.category %>》的目录</h1>
		</div>
	</div>
	<div class="container">
		<ul class="catalogue">
			<% page.posts.sort(theme.order_by).each(function (post) { %>
			<li>
				<a href="<%- url_for(post.path) %>">
					<span class="title"><%= post.title %></span>
					<span class="date"><span><%- date(post.date, "YYYY-MM-DD") %></span></span>
				</a>
			</li>
			<% }) %>
		</ul>
	</div>
</div>