<!DOCTYPE html>
<html>
	<head lang="zh">
		<%- partial('_partial/head') %>
	</head>

	<body>
        <%- partial('_partial/header') %>
        <%- body %>
		<%- partial('_partial/footer') %>
	</body>
</html>
