<div class="footer">
    <div class="container">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.title %>
        Using <a rel="noreferrer" href="http://hexo.io/" target="_blank">Hexo</a> 
        &amp; <a rel="noreferrer" href="https://github.com/Yet-The-Books/hexo-theme-yet-the-books" target="_blank">Yet The Books</a>
    </div>
</div>